# Расположение логов тех журнала 1С
patch: "D:\\temp\\1"
# Удалять табуляции в контекстных строках
delete_tabs_in_contexts: true
# Заменять постфиксы виртуальных таблиц в контекстах, например #tt36 на #tt 
# Может использоваться для группировки контекстов
delete_postfix_in_name_virtual_tables: true
#
# Параметры подключения к Redis
redis_addr: "localhost:6379"
redis_login: ""
redis_password: ""
redis_database: 0
#
# Параметры подключения к Elasticsearch
elastic_addr: "http://localhost:9200"
elastic_login: ""
elastic_password: ""
elastic_maxretries: 4
elastic_bulksize: 5000000
# Если ES в контейнере и доступен по https, возможно игнорировать самоподписанную цепочку сертификатов.
#skip_verify_certificates: true

#
# Правила формирования индекса Elasticsearch
# Пример: "tech_journal_{event}_yyyyMMddhh", где event - CONN, EXCP, etc...
elastic_indx: "tech_journal_{event}_yyyyMMddhh"
#
# Типы событий тех журнала, которые могут содержать длинные строки '...' и переносы строк \n
tech_log_details_events: "Context|Txt|Descr|DeadlockConnectionIntersections|ManagerList|ServerList|Sql|Sdbl|Eds|URI|Headers"
#
# Путь, где будут распологаться логи программы
patch_logfile: "D:\\Lab\\projects\\go-techLog1C\\logs\\"
#
# Глубина фиксации ошибок при работе программы:
#   1 - только ошибки
#   2 - ошибки и предупреждения 
#   3 - ошибки, предупреждения и информация
log_level: 3
#
# Срок жизни файлов логов в днях
log_life_span: 4
#
# Уровень параллелизма
maxdop: 5
#
# 0 - отключена сортировка файлов по размеру, 1 - сортировка по убыванию, 2 - сортировка по возрастанию
# полезно включать при массовых операциях, для равномерного распределения файлов по потокам
sorting: 1
